.details
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__imgContainer
        display: inline-block
        position: relative
        
        &__wppButton
            position: absolute;
            bottom: 1em;
            right: 1em;
            @include typography(Roboto, normal, 1rem, $white)
            background: transparent linear-gradient(180deg, $midGrey 0%, $black 100%)
            border: 1px solid $borderGrey
            border-radius: 12px
            padding: 0.4rem
            cursor: pointer

    &__title
        margin: 1rem 0;